<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    url shortener <br>
    <form action="/url" method="post">
        <input type="text" placeholder="enter url" name="url" id="">
        <input type="submit" value="submit">
    </form>
    <% urls.forEach((url)=>{ %>
        <%=url.redirectURL %> = 
        <a href="/<%=url.shortId%>" target="_blank" ><%= url.shortId%></a><br>
    <% }) %>
</body> 
</html>